@import url("./reset.css");
@import url("./color.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: var(--primary);
  @apply text-slate-100;
}

.hover-animation {
  transition: transform 0.3s ease; /* You can adjust the transition timing */
}

.hover-animation:hover {
  transform: scale(1.15); /* Or any other transformation you prefer */
}

.group:has(a.active) {
  background: var(--tertiary);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
